{% extends 'mypage/base.html' %}

{% block title %}
EditMe
{% endblock %}

{% block content %}
<h3>Edit my page</h3>
<p>This is where the fun starts</p>

<div class="input-group mb-3">
    <form method="POST" action="" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3"></div>
            <h5 style="padding-top:1cm">Create a short description of yourself.</h5>
            {{form_desc.as_p}}
            <div class="input-group-prepend">
                <button type="submit", name="addDescription", value="addDescription", class="btn btn-success">Add Description</button>
            </div>
      
    </form>

    <form method="POST" action="" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3"></div>
            <h5 style="padding-top:1cm">Add file that you want to display on you page and a short description of that file.</h5>
            {{form_gallery.as_p}}
            <div class="input-group-prepend">
                <button type="submit", name="addFile", value="addFile", class="btn btn-success">Add File</button>
            </div>
    </form>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}


    

    <form method="POST" action="" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3"></div>
            <h5 style="padding-top:1cm">To delete a file:</h5>
            {{form_delete.as_p}}
            <div class="input-group-prepend">
                <button type="submit", name="deleteFile", value="deleteFile", class="btn btn-success">Delete</button>
            </div>
        </div>
    </form>
</div>










{% endblock %}