<style>
    .profile_pic {
        width: 300px;
        height: 300px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .image {
        flex-basis: 40%
    }

    .text {
        font-size: 20px;
        padding-left: 50px;
    }

</style>

{% extends 'mypage/base.html' %}

{% block title %}
MyPage
{% endblock %}

{% block content %}
        
        {% for td in desc %}
            <div class="container">
                <div class="image">
                    {% if td.profile_pic  %}
                        <img src="{{td.profile_pic.url}}" class="profile_pic">
                    {% endif %}
                </div>
                <div class="text"> <p> {{td.txt_description|linebreaks }} </p> </div>
            </div>
        {% endfor %}

        <div style="padding: 1cm;">
            <p style="font-size: 20px;">These are my files:</p>
            <ul>
            {% for gl in gallery %}
                <li><a href="{{gl.new_file.url}}"> {{gl.name}} </a>: {{gl.txt}}</li>
            {% endfor %}
            </ul>
        </div>

{% endblock %}