<style>
    .profile_pic {
        width: 300px;
        height: 300px;
        
    }

    .container {
        display: flex;
    }


    .text {
        font-size: 20px;
        padding-left: 50px;
    }

    .myfiles {
        padding-top: 20px;
    }

</style>

{% extends 'mypage/base.html' %}

{% block title %}
MyPage
{% endblock %}

{% block content %}

        <h1 class="mt-2" style="padding-bottom: 50px;"><u>{{name}}'s page</u></h1>
        
        {% for td in desc %}
            <div class="container">
                <div class="image">
                    {% if td.profile_pic  %}
                        <img src="{{td.profile_pic.url}}" class="profile_pic">
                    {% endif %}
                </div>
                <div class="text"> <p> {{td.txt_description|linebreaks }} </p> </div>
            </div>
        {% endfor %}

        <div class="myfiles">
            <p style="font-size: 20px;">These are my files:</p>
            <ul>
            {% for gl in gallery %}
                <li><a href="{{gl.new_file.url}}"> {{gl.name}} </a>: {{gl.txt}}</li>
            {% endfor %}
            </ul>
        </div>

{% endblock %}